certifi==2026.2.25
charset-normalizer==3.4.7
duckdb==1.5.2
idna==3.11
kagglehub==1.0.0
kagglesdk==0.1.18
llvmlite==0.47.0
numba==0.65.0
numpy==2.4.4
packaging==26.0
pandas==3.0.2
protobuf==7.34.1
py4j==0.10.9.7
pyspark==3.5.1
python-dateutil==2.9.0.post0
PyYAML==6.0.3
requests==2.33.1
six==1.17.0
tqdm==4.67.3
urllib3==2.6.3
